.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
}

.card {
  position: relative;
  width: 300px !important;
}

.vertical {
  position: absolute;
  top: 7px;
  right: 3px;
  font-size: 24px;
}
@media screen and (max-width: 738px) {
  .card {
    width: 100% !important;
  }
}
